.PhoneBookForm {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 300px;
}

.PhoneBookForm__input {
    width: 285px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.PhoneBookForm__name {
    color: #7d3883;
    font-weight: 600;
}

.PhoneBookForm__btn {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7d3883;
    border: none;
    border-radius: 10px;
    color: #f5edf7;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    text-transform: capitalize;
    width: 150px;
}